[include]
    path = ~/themes.gitconfig

[user]
    name = David Park
    email = dpjungmin@gmail.com

[alias]
    a = config --get-regexp alias
    root = rev-parse --show-toplevel
    path = rev-parse --show-prefix
    bb = !better_git_branch.sh

[init]
    defaultBranch = main

[submodule]
    recurse = true

[fetch]
    prune = true

[pull]
    ff = only

[push]
    recurseSubmodules = no

[color]
    ui = auto

[diff]
    colorMoved = default

[merge]
    conflictstyle = diff3

[core]
    editor = nvim
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = arctic-fox
    ; features = calochortus-lyallii
    ; features = chameleon ; side-by-side
    ; features = mellow-barbet ; side-by-side
    true-color = always
